@charset "UTF-8";
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page__body {
  max-width: 320px;
  height: 100%;
  margin: 0;
  background-color: #f2f2f2;
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.heading-title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.heading-title--light {
  color: #ffffff;
}
.heading-title--extra {
  font-size: 21px;
}
.heading-title--lr {
  text-align: left;
}

.heading-subtitle {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
.heading-subtitle--light {
  color: #ffffff;
}
.heading-subtitle--extra {
  font-weight: 700;
  text-align: left;
}
.heading-subtitle--lr {
  text-align: left;
}

.page-header {
  position: relative;
  min-height: 56px;
  background-color: #ffffff;
}

.page-header__toggle {
  position: absolute;
  z-index: 2;
  top: 17px;
  right: 20px;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.navigation {
  font-family: "PT Sans", sans-serif;
  position: relative;
  z-index: 1;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__item {
  background-color: #81b3d2;
  box-shadow: 0 -1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.navigation__item:first-child {
  box-shadow: 0 -1px 0 rgba(1, 1, 1, 0.2);
}
.navigation__item:last-child {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 87%, rgba(0, 0, 0, 0.2) 100%);
}

.navigation__link {
  display: block;
  padding: 17px 18px 12px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.toggle {
  width: 23px;
  height: 22px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hero {
  position: relative;
  padding: 90px 19px 85px;
  background-image: url("../img/index/banner-mob.jpg"), linear-gradient(0deg, #81b3d2 0%, white 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto auto;
}
.hero--size-small {
  padding-top: 52px;
  background-image: url("../img/catalog/banner-small-mob.jpg"), linear-gradient(0deg, #81b3d2 0%, white 100%);
}
.hero::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 57px;
  bottom: 0;
  left: 0;
  background-image: url("../img/index/hero-divider.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__image {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.advantages {
  padding-top: 32px;
}

.advantages__heading-wrapper {
  margin: 0 auto;
  padding: 0 25px 16px;
}

.advantages__title {
  margin-bottom: 35px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: number;
}

.advantages__unit {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__image {
  margin: 0 auto;
}

.advantages__sublist {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 23px 18px 30px;
  list-style-type: none;
}

.advantages__sublist-item {
  position: relative;
  margin-bottom: 22px;
}
.advantages__sublist-item--house::before {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-image: url("../img/icons/house.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__sublist-item--food::before {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-image: url("../img/icons/food.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__sublist-item--gift::before {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-image: url("../img/icons/gift.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__sublist-title {
  margin: 8px 0 16px 47px;
}

.advantages__sublist-description {
  margin-left: 47px;
}

.advantages-item {
  position: relative;
}
.advantages-item--number {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages-item--number::before {
  display: block;
  counter-increment: number;
  content: "— №" counter(number) " —";
  order: 1;
  margin-bottom: 17px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
}
.advantages-item--dark {
  padding: 39px 16px 35px;
  color: #ffffff;
  background-color: #81b3d2;
}
.advantages-item--medium {
  padding: 25px 35px;
  color: #333333;
  background-color: #eeeeee;
}
.advantages-item--divider {
  padding: 70px 16px 40px;
}
.advantages-item--divider::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 37px;
  top: 0;
  background-image: url("../img/index/advantages-divider.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages-item__title {
  margin-bottom: 11px;
}

.advantages-item__description {
  order: 2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px 18px 49px;
}

.hotel-search__title {
  margin-bottom: 20px;
}

.hotel-search__subtitle {
  margin-bottom: 32px;
}

.hotel-search__button {
  min-width: 284px;
}

.button {
  padding: 16px 40px;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.map {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28.5px 18px 23px;
}

.page-footer__hashtag {
  margin: 0;
  margin-bottom: 33.5px;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.page-footer__social {
  margin: 0;
  margin-bottom: 40px;
}

.copyright {
  display: flex;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.copyright__text {
  display: block;
  margin-right: 12px;
}

.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  padding: 0;
  list-style-type: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.social__icon {
  fill: #ffffff;
}

.text-xs {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
.text-xs--extra {
  font-weight: 700;
}

.gallery {
  padding-top: 30px;
}

.gallery__heading-wrapper {
  margin: 0 auto;
  padding: 0 20px 44px;
}

.gallery__title {
  margin-bottom: 25px;
}

.gallery__wrapper {
  display: grid;
  justify-content: center;
}

.gallery-card {
  padding: 24px 20px 25px;
}

.gallery-card__link {
  display: block;
  margin-bottom: 15px;
}

.gallery-card__content {
  display: grid;
}

.gallery-card__title {
  margin-bottom: 1px;
}

.gallery-card__author {
  margin-bottom: 11px;
}

.gallery-card__like {
  display: flex;
  align-items: baseline;
  gap: 14px;
  margin: 0;
}

.gallery-card__button {
  width: 23px;
  height: 21px;
}

.button-like {
  padding: 0;
  background-color: transparent;
  background-image: url("../img/icons/like-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.promo {
  position: relative;
  padding: 17px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__heading-wrapper {
  padding: 0 20px;
}

.promo__title {
  margin-bottom: 27px;
}

.promo__subtitle {
  margin-bottom: 38px;
}

.promo__button {
  position: absolute;
  bottom: 60px;
  left: 144px;
}

.button-play {
  padding: 0;
  width: 48px;
  height: 54px;
  background-color: transparent;
  background-image: url("../img/icons/play.svg");
  border: none;
  cursor: pointer;
}

.feedback {
  padding-top: 36px;
}

.feedback__heading-wrapper {
  padding-bottom: 28px;
}

.feedback__title {
  margin-bottom: 24px;
}

.feedback-form {
  display: grid;
  padding: 0 20px;
}

.feedback-form__group {
  display: grid;
  gap: 16px;
  padding-top: 24px;
}
.feedback-form__group--name {
  margin-bottom: 39px;
}
.feedback-form__group--contacts {
  margin-bottom: 34px;
}
.feedback-form__group--impression {
  margin-bottom: 24px;
}
.feedback-form__group--places {
  margin-bottom: 24px;
}
.feedback-form__group--review {
  margin-bottom: 56px;
}
.feedback-form__group--submit {
  gap: 3px;
  margin-bottom: 24px;
  padding: 0;
}

.feedback-form__title {
  margin-bottom: 4px;
}

.feedback-form__list {
  display: grid;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feedback-form__button {
  margin: 0 auto;
  min-width: 280px;
}

.feedback-form__legend {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
}

.form-field {
  position: relative;
  display: flex;
}
.form-field--extra {
  flex-direction: column;
}
.form-field--icon-tel::after {
  content: "";
  position: absolute;
  display: block;
  width: 58px;
  height: 58px;
  right: 0;
  bottom: 0;
  background-color: #e6e6e6;
  background-image: url("../img/icons/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.form-field--icon-email::after {
  content: "";
  position: absolute;
  display: block;
  width: 58px;
  height: 58px;
  right: 0;
  bottom: 0;
  background-color: #e6e6e6;
  background-image: url("../img/icons/envelope.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.form-field--pick {
  height: 46px;
  align-items: center;
}
.form-field--textarea {
  height: 150px;
}

.form-field__control {
  width: 100%;
}

.form-field__label {
  margin-left: 62px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.form-field__label--extra {
  margin-left: 16px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.input {
  height: 58px;
  padding: 16px 58px 16px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
}
.input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-radio:checked + .input-radio__label::after {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  background-color: #000000;
  border-radius: 50%;
}

.input-radio__label::before {
  content: "";
  position: absolute;
  display: block;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.input-checkbox:checked + .input-checkbox__label::before {
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.input-checkbox__label::before {
  content: "";
  position: absolute;
  display: block;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.textarea {
  padding: 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  resize: none;
}
.textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=style.css.map */