@use "./../mixins";
// Advantages section
.advantages {
  padding-top: 32px;

  @include mixins.tablet {
    padding-top: 47.5px;
  }

  @include mixins.desktop {
    padding-top: 59px;
  }
}

.advantages__heading-wrapper {
  margin: 0 auto;
  padding: 0 25px 16px;

  @include mixins.tablet {
    padding: 0 90px 56.5px;
  }

  @include mixins.desktop {
    padding: 0 290px 45px;
  }
}

.advantages__title {
  margin-bottom: 35px;

  @include mixins.tablet {
    margin-bottom: 27px;
    font-size: 21px;
    line-height: 1.3;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: number;

  @include mixins.tablet {
    display: flex;
    flex-wrap: wrap;
  }
}
//  Element for grouping compound items
.advantages__unit {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include mixins.tablet {
    flex-basis: 100%;
  }
}
// Element for item with picture
.advantages__figure {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include mixins.tablet {
    display: flex;

    &--reverse {
      flex-direction: row-reverse;
    }
  }
}

.advantages__image {
  display: block;
  margin: 0 auto;

  @include mixins.tablet {
    flex-grow: 1;
    flex-basis: 66.66%;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.advantages__sublist {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 23px 18px 30px;
  list-style-type: none;

  @include mixins.tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
}

.advantages__sublist-icon {
  position: absolute;
  top: 0;
  left: 0;

  @include mixins.tablet {
    width: 75px;
    height: auto;
    top: 58px;
    left: 49%;
    transform: translateX(-49%);
  }
}

.advantages__sublist-item {
  position: relative;

  @include mixins.tablet {
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
    min-height: 330px;
  }

  &--house {
    padding: 0 0 21px 46px;

    @include mixins.tablet {
      padding: 158px 36px 59px;
    }

    @include mixins.desktop {
      padding: 159px 50px 58px;
    }
  }

  &--food {
    padding: 0 0 21px 51px;

    @include mixins.tablet {
      padding: 158px 35px 59px 36px;
    }

    @include mixins.desktop {
      padding: 157px 50px 59px;
    }
  }

  &--gift {
    padding: 0 0 21px 43px;

    @include mixins.tablet {
      padding: 158px 31px 59px 33px;
    }

    @include mixins.desktop {
      padding: 159px 50px 59px;
    }
  }
}

.advantages__sublist-title {
  margin: 8px 0 16px;
  text-align: left;

  @include mixins.tablet {
    margin: 0;
    margin-bottom: 23px;
    font-size: 21px;
    line-height: 1.3;
    text-align: center;
  }

  @include mixins.desktop {
    margin-bottom: 21px;
  }
}

.advantages__sublist-description {
  text-align: left;

  @include mixins.tablet {
    text-align: center;
  }
}

.advantages__sublist-description-wrap {
  @include mixins.tablet {
    display: inline-block;
    max-width: 155px;
  }

  @include mixins.desktop {
    max-width: 285px;
  }
}
