@use "./../mixins/mixins.scss";
@use "./../variables/color-variables.scss";

.advantages-item {
  position: relative;

  &--number {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--number::before {
    display: block;
    counter-increment: number;
    content: "— №" counter(number) " —";
    order: 1;
    margin-bottom: 17px;

    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: inherit;
  }

  &--dark {
    padding: 39px 16px 35px;
    color: color-variables.$add-color-light;
    background-color: color-variables.$basic-color;

    @include tablet {
      padding: 42px 32px;
    }
  }

  &--medium {
    padding: 25px 35px;
    color: color-variables.$basic-text-medium;
    background-color: color-variables.$add-color;

    @include tablet {
      padding: 42px 32px;
    }
  }

  &--primary {
    padding: 70px 16px 40px;

    @include tablet {
      padding: 42px 32px;
    }

    &::after {
      @include mixins.before-after(absolute, 100%, 37px);
      top: 0;
      left: 50%;
      transform: translate(-50%);
      background-image: url("../img/index/advantages-divider.svg");
      background-repeat: no-repeat;
      background-size: cover;

      @include tablet {
        display: none;
      }
    }
  }

  @include tablet {
    flex-basis: 33.33%;
    justify-content: center;
    min-height: 256px;
  }
}

.advantages-item__title {
  margin-bottom: 11px;
}

.advantages-item__description {
  order: 2;
}
