@use "./../mixins";
@use "./../variables";

.advantages-item {
  position: relative;

  @include mixins.tablet {
    flex-basis: 33.33%;
    min-height: 256px;
    padding: 42px 20px 20px;
  }

  &--number {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--number::before {
    display: block;
    counter-increment: number;
    content: "— №" counter(number) " —";
    order: 1;
    margin-bottom: 17px;

    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: inherit;
  }

  &--dark {
    padding: 39px 16px 35px;
    color: variables.$add-color-light;
    background-color: variables.$basic-color;

    @include mixins.tablet {
      padding: 42px 20px 20px;
    }

    @include mixins.desktop {
      padding: 51px 20px 20px;
    }
  }

  &--medium {
    padding: 25px 35px;
    color: variables.$basic-text-medium;
    background-color: variables.$add-color;

    @include mixins.tablet {
      padding: 42px 20px 20px;
    }
  }

  &--primary {
    padding: 70px 16px 40px;

    @include mixins.tablet {
      padding: 42px 20px 20px;
    }

    @include mixins.desktop {
      padding: 47px 20px 20px;
    }
  }

  &--primary::after {
    @include mixins.before-after(absolute, 100%, 37px);
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-image: url("../img/index/advantages-divider.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @include mixins.tablet {
      display: none;
    }
  }
}

.advantages-item__title {
  margin-bottom: 11px;
}

.advantages-item__description {
  order: 2;
}
