@use "./../variables";

.button {
  padding: 16px 40px;

  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: variables.$add-color-light;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: variables.$basic-color;
  border: none;
  cursor: pointer;
}
