@use "./../variables";
// Basic button
.button {
  padding: 16px 40px;

  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: variables.$add-color-light;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: variables.$basic-color;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    background-color: variables.$basic-medium;
  }

  &:active {
    color: rgba(variables.$add-color-light, 0.3);
    background-color: variables.$basic-dark;
  }
  // Disabled modifier for button links
  &--disabled,
  &:disabled {
    background-color: variables.$inert-color;
    cursor: default;
    pointer-events: none;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      color: variables.$add-color-light;
      background-color: variables.$inert-color;
    }
  }
}
