@use "./../variables";

.copyright {
  display: flex;
  align-items: center;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: variables.$basic-text;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    color: variables.$basic-color;
  }

  &:active {
    color: variables.$add-text-light;
  }
}

.copyright__icon {
  fill: currentColor;
}

.copyright__text {
  display: block;
  margin-right: 12px;
}
