.copyright {
  display: flex;
  align-items: center;

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.copyright__text {
  display: block;
  margin-right: 12px;
}


