@use "./../mixins";
@use "./../variables";

.feedback-form {
  @include mixins.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px 64px;
  }

  @include mixins.desktop {
    padding: 0 120px 64px;
  }
}
// Group of fields united by meaning
.feedback-form__group {
  position: relative;
  border-top: 1px solid variables.$inert-color;

  @include mixins.tablet {
    border: none;
  }

  &--name {
    padding: 23px 20px 39px;

    @include mixins.tablet {
      padding: 0;
      margin-bottom: 61px;
    }

    @include mixins.desktop {
      margin-bottom: 69px;
    }
  }

  &--contacts {
    padding: 23px 20px 34px;

    @include mixins.tablet {
      padding: 0;
      margin-bottom: 61px;
      border-left: 1px solid #d8d8d8;
    }

    @include mixins.desktop {
      margin-bottom: 69px;
    }
  }

  &--impression {
    padding: 23px 20px 24px;

    @include mixins.tablet {
      grid-column: -1 / 1;
      padding: 0 0 75px;
    }

    @include mixins.desktop {
      padding: 0 0 83px;
    }
  }

  &--places {
    padding: 23px 20px 24px;

    @include mixins.tablet {
      grid-column: -1 / 1;
      padding: 0 0 55px;
    }

    @include mixins.desktop {
      padding: 0 0 69px;
    }
  }

  &--review {
    padding: 23px 20px 56px;

    @include mixins.tablet {
      grid-column: -1 / 1;
      padding: 0 0 48px;
    }
  }
}
// Field group header
.feedback-form__title {
  margin-bottom: 20px;

  @include mixins.tablet {
    margin-bottom: 27px;
    padding: 0 83px 0 81px;
    font-size: 21px;
    line-height: 1.3;
    // Header with decorative sidelines
    &--on-border {
      position: relative;
      left: 50%;
      display: grid;
      grid-template-columns: auto minmax(auto, 400px) auto;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
      transform: translate(-50%, -50%);
    }
    // Decorative lines
    &--on-border::before,
    &--on-border::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      top: 50%;
      background-color: variables.$inert-color;
    }
  }
  // Нeader extra margin
  &--extra {
    @include mixins.tablet {
      padding: 0 19px 0 26px;
    }

    @include mixins.desktop {
      margin-left: -8px;
    }
  }
}
// Content wrapper for 1st and 2nd field groups
.feedback-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mixins.tablet {
    padding-right: 44px;
    padding-bottom: 15px;
  }

  @include mixins.desktop {
    min-width: 494px;
    padding-right: 64px;
  }

  &--extra {
    @include mixins.tablet {
      padding-right: 0;
      padding-left: 43px;
    }

    @include mixins.desktop {
      min-width: 402px;
      padding-left: 63px;
    }
  }
}

.feedback-form__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include mixins.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 14px 36px 0;
  }

  @include mixins.desktop {
    grid-template-columns: repeat(2, 1fr) auto;
    gap: 28px;
    padding: 31px 53px 17px;
  }

  &--extra {
    @include mixins.tablet {
      gap: 16px 32px;
      padding: 0 84px 0;
    }

    @include mixins.desktop {
      grid-template-columns: repeat(4, auto);
      gap: 64px;
      padding: 31px 44.5px;
    }
  }
}
// Wrapper for textarea
.feedback-form__field-wrapper {
  @include mixins.tablet {
    padding-top: 13px;
  }

  @include mixins.desktop {
    padding: 13px 96px 0;
  }
}
// Wrapper for button and legend
.feedback-form__submit {
  display: flex;
  flex-direction: column;
  padding: 0 20px 24px 19px;

  @include mixins.tablet {
    grid-column: -1 / 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 0;
  }

  @include mixins.desktop {
    padding: 0 96px;
  }
}

.feedback-form__button {
  min-width: 280px;
  margin-bottom: 3px;
  padding: 18.5px 34px 13.5px 32px;

  @include mixins.tablet {
    min-width: 324px;
    margin-bottom: 0;
    padding: 18.5px 60px 13.5px 49px;
  }

  @include mixins.desktop {
    min-width: 384px;
  }
}

.feedback-form__legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;

  @include mixins.tablet {
    font-size: 14px;
    padding-left: 20px;
  }
}
