@use "./../mixins";

.feedback__heading-wrapper {
  padding: 35px 20px 28px;

  @include mixins.tablet {
    padding: 52px 166px 102px;
  }

  @include mixins.desktop {
    padding: 105px 382px 69px 380px;
  }
}

.feedback__title {
  margin-bottom: 24px;

  @include mixins.tablet {
    margin-bottom: 12px;
    font-size: 30px;
  }

  @include mixins.desktop {
    margin-bottom: 22px;
  }
}

.feedback__subtitle {
  @include mixins.tablet {
    line-height: 24px;
  }

  @include mixins.desktop {
    line-height: 21px;
  }
}
