@use "./../mixins";

.feedback__heading-wrapper {
  padding: 36px 20px 28px;

  @include mixins.tablet {
    padding: 62px 167px 102px;
  }

  @include mixins.desktop {
    padding: 115px 383px 67px;
  }
}

.feedback__title {
  margin-bottom: 24px;

  @include mixins.tablet {
    margin-bottom: 20px;
    font-size: 30px;
  }

  @include mixins.desktop {
    margin-bottom: 24px;
  }
}

.feedback__subtitle {
  @include mixins.tablet {
    line-height: 24px;
  }

  @include mixins.desktop {
    line-height: 21px;
  }
}
