@use "./../mixins";
@use "./../variables";

.gallery-card {
  display: flex;
  flex-direction: column;
  padding: 24px 20px 24px;
  border-bottom: 1px solid variables.$inert-color;

  &:first-of-type {
    border-top: 1px solid variables.$inert-color;

    @include mixins.tablet {
      border: none;
    }
  }

  @include mixins.tablet {
    padding: 0;
    min-height: 347px;
    background-color: variables.$inert-light;
    border: none;

    &--max {
      grid-column: -1 / 1;
      min-height: 480px;
    }

    &:nth-child(odd) {
      background-color: variables.$inert-medium;
    }

    &:first-of-type {
      background-color: variables.$inert-light;
    }
  }

  @include mixins.desktop {
    position: relative;
    min-height: 267px;

    &--max {
      min-height: 400px;
    }
  }
}

.gallery-card__link {
  display: block;
}

.gallery-card__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.gallery-card__content {
  padding-top: 15px;

  @include mixins.tablet {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 22px 100px 15px 20px;
  }

  @include mixins.desktop {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(variables.$basic-text, 0.3);

    &--extra {
      padding: 20px 100px 20px 20px;
    }
  }
}

.gallery-card__title {
  margin-bottom: 1px;

  @include mixins.tablet {
    grid-column: 1 / 2;
    margin-bottom: 0;
  }

  @include mixins.desktop {
    color: variables.$add-color-light;
  }
}

.gallery-card__author {
  margin-bottom: 11px;

  @include mixins.tablet {
    grid-column: 1 / 2;
    margin-bottom: 0;
  }

  @include mixins.desktop {
    color: variables.$add-color-light;
  }
}

.gallery-card__like {
  display: flex;
  align-items: baseline;
  gap: 14px;
  margin: 0;

  @include mixins.tablet {
    position: absolute;
    top: 28px;
    right: 20px;
    margin-left: auto;
    gap: 9px;
  }

  @include mixins.desktop {
    color: variables.$add-color-light;
  }
}

.gallery-card__button {
  width: 23px;
  height: 21px;
}

.gallery-card__icon {
  fill: rgba(variables.$basic-text, 0.3);

  @include mixins.desktop {
    fill: variables.$add-color-light;
  }
}
