@use "./../mixins";
// Gallery section
.gallery {
  padding-top: 29px;

  @include mixins.tablet {
    padding: 55px 60px 0;
  }

  @include mixins.desktop {
    padding: 89px 0 0 0;
  }
}

.gallery__heading-wrapper {
  padding: 0 20px 44px;

  @include mixins.tablet {
    padding: 0 63px 83px;
  }

  @include mixins.desktop {
    padding: 0 372px 89px 370px;
  }
}

.gallery__title {
  margin-bottom: 25px;

  @include mixins.tablet {
    margin-bottom: 22px;
    font-size: 30px;
  }
}
// Wrapper for gallery cards
.gallery__wrapper {
  @include mixins.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include mixins.desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
