@use "./../mixins/mixins.scss";

.gallery-card {
  padding: 24px 20px 25px;
}

.gallery-card__link {
  display: block;
  margin-bottom: 15px;
}

.gallery-card__content {
  display: grid;
}

.gallery-card__title {
  margin: 0;
  margin-bottom: 1px;
}

.gallery-card__author {
  margin: 0;
  margin-bottom: 11px;
}

.gallery-card__like {
  position: relative;
  margin: 0;
  margin-left: 38px;

  &::before {
    @include mixins.before-after(absolute, 23px, 21px);
    left: -38px;
    background-image: url("../img/icons/like-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
