@use "./../mixins/mixins.scss";

.gallery-card {
  padding: 24px 20px 25px;
}

.gallery-card__link {
  display: block;
  margin-bottom: 15px;
}

.gallery-card__content {
  display: grid;
}

.gallery-card__title {
  margin: 0;
  margin-bottom: 1px;
}

.gallery-card__author {
  margin: 0;
  margin-bottom: 11px;
}

.gallery-card__like {
  margin: 0;
}

.gallery-card__button {
  margin-right: 14px;
  width: 23px;
  height: 21px;
}
