@use "./../variables/color-variables.scss";

.heading-subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: color-variables.$basic-text-medium;
  text-align: center;
  text-transform: uppercase;

  &--light {
    color: color-variables.$add-color-light;
  }

  &--extra {
    font-weight: 700;
    text-align: left;
  }
}
