.hero {
  padding-top: 90px;
  background-image: url("../img/index/banner-mob.jpg"), linear-gradient(0deg, rgba(129, 179, 210, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto auto;

  &--size-small {
    padding-top: 52px;
    background-image: url("../img/catalog/banner-small-mob.jpg"), linear-gradient(0deg, rgba(129, 179, 210, 1) 0%, rgba(255, 255, 255, 1) 100%);
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 57px;
    background-image: url("../img/index/hero-divider.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.hero__image {
  display: block;
  max-width: 100%;
  margin: 0 auto 28px;
  object-fit: contain;
}
