@use "./../mixins";

.hotel-search {
  padding: 39px 18px 49px;

  @include mixins.tablet {
    padding: 61px 155px 58px;
  }

  @include mixins.desktop {
    padding: 61px 371px 66px;
  }
}

.hotel-search__heading-wrapper {
  padding-bottom: 32px;

  @include mixins.tablet {
    padding: 0 60px 41px;
  }

  @include mixins.desktop {
    padding: 0 60px 46px;
  }
}

.hotel-search__title {
  margin-bottom: 20px;

  @include mixins.tablet {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 24px;
  }
}

.hotel-search__button {
  min-width: 284px;
  display: block;
  margin: 0 auto;
}
