@use "./../mixins";

.hotel-search {
  padding: 37px 18px 49px;

  @include mixins.tablet {
    padding: 58px 155px 58px;
  }

  @include mixins.desktop {
    padding: 58px 371px 66px;
  }
}

.hotel-search__heading-wrapper {
  padding-bottom: 32px;

  @include mixins.tablet {
    padding-bottom: 44px;
  }

  @include mixins.desktop {
    padding-bottom: 48px;
  }
}

.hotel-search__title {
  margin-bottom: 18px;
  font-size: 21px;

  @include mixins.tablet {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 29px;
  }
}

.hotel-search__button {
  min-width: 284px;
  display: block;
  margin: 0 auto;

  @include mixins.tablet {
    padding: 13.5px 20px 18.5px;
  }
}
