@use "./../mixins";
@use "./../variables";

.input-checkbox:checked + .form-field__label-checkbox::after {
  @include mixins.before-after(absolute, 46px, 46px);
  top: 0;
  left: 0;
  background-color: transparent;
  background-image: url("../img/svg/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-field:hover .form-field__label-checkbox::before {
  background-color: variables.$inert-color;
  cursor: pointer;
}

.form-field:focus-within .form-field__label-checkbox::before {
  outline: none;
  background-color: variables.$inert-color;
}

.form-field:active .form-field__label-checkbox::before {
  background-color: variables.$inert-dark;
}

.form-field:active .form-field__label-checkbox::after {
  opacity: 0.3;
}

.input-checkbox:checked:disabled + .form-field__label-checkbox::after {
  opacity: 0.3;
}

.input-checkbox:disabled + .form-field__label-checkbox::before,
.input-checkbox:disabled:hover + .form-field__label-checkbox::before {
  background-color: variables.$inert-color;
  cursor: default;
}
