@use "./../mixins";
@use "./../variables";

.input-radio:checked + .form-field__label-radio::after {
  @include mixins.before-after(absolute, 16px, 16px);
  top: 15px;
  left: 16px;

  background-color: variables.$basic-text-medium;
  border-radius: 50%;
}

.form-field:hover .form-field__label-radio::before {
  background-color: variables.$inert-color;
  cursor: pointer;
}

.form-field:focus-within .form-field__label-radio::before {
  outline: none;
  background-color: variables.$inert-color;
}

.form-field:active .form-field__label-radio::before {
  background-color: variables.$inert-dark;
}

.form-field:active .form-field__label-radio::after {
  opacity: 0.3;
}

.input-radio:checked:disabled + .form-field__label-radio::after {
  opacity: 0.3;
}

.input-radio:disabled + .form-field__label-radio::before,
.input-radio:disabled:hover + .form-field__label-radio::before,
.input-radio:disabled:focus-within + .form-field__label-radio::before {
  background-color: variables.$inert-color;
  cursor: default;
}
