@use "./../mixins";
@use "./../variables";

.map {
  position: relative;
  margin-bottom: 10px;

  @include mixins.tablet {
    margin-bottom: 0;
  }
}

.map__frame {
  display: block;
  min-width: 100%;
  border: none;
}
