@use "./../variables";
@use "./../mixins";

$gradient-bottom: 98px;
$gradient-top: 98px;

.modal-success {
  max-width: 320px;
  margin: auto;
  padding: 36px 20px 20px;
  background: linear-gradient(variables.$add-color-light calc(100% - 98px), variables.$inert-light 98px);
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  display: none;

  @include mixins.tablet {
    max-width: 640px;
    padding: 41px 91px 44px;
    background: linear-gradient(variables.$add-color-light calc(100% - 146px), variables.$inert-light 146px);
  }

  @include mixins.desktop {
    padding: 39px 91px 44px;
  }

  &--active {
    display: block;
  }
}

.modal-success__title {
  margin-bottom: 24px;

  @include mixins.tablet {
    margin-bottom: 20px;
    font-size: 30px;
  }

  @include mixins.desktop {
    margin-bottom: 22px;
  }
}

.modal-success__subtitle {
  margin-bottom: 73px;
  padding: 0 31px;

  @include mixins.tablet {
    margin-bottom: 97px;
    padding: 0 22px;
  }

  @include mixins.desktop {
    padding: 0 22px 0 18px;
  }
}

.modal-success__subtitle-wrap {
  display: inline-block;
}

.modal-success__button {
  display: block;
  min-width: 280px;
  margin: 0 auto;
  padding: 18px 62px 14px 60px;
  font-size: 18px;

  @include mixins.tablet {
    min-width: 458px;
    font-size: 21px;
  }
}
