@use "./../mixins/mixins.scss";
@use "./../variables/color-variables.scss";


.page {
  height: 100%;
}

.page__body {
  height: 100%;
  margin: 0;
  background-color: color-variables.$inert-light;
}

.page__container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  background-color: color-variables.$add-color-light;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1200px;
  }
}
