@use "./../mixins";
@use "./../variables";

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28.5px 18px 23px;

  @include mixins.tablet {
    flex-direction: row;
    padding: 36px 60px;
  }

  @include mixins.desktop {
    padding: 36px 120px;
  }
}

.page-footer__hashtag {
  margin: 0;
  margin-bottom: 32.5px;
  padding: 0 58px 0 56px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: variables.$basic-text;
  text-transform: uppercase;
  text-align: center;

  @include mixins.tablet {
    max-width: 166px;
    margin: 0;
    margin-right: 111px;
    padding: 0;
    text-align: left;
  }

  @include mixins.desktop {
    margin-right: 266px;
  }
}

.page-footer__social {
  margin: 0;
  margin-bottom: 40px;

  @include mixins.tablet {
    margin: 0;
    margin-right: auto;
  }
}
