@use "./../mixins";
@use "./../variables";

.page-header {
  position: relative;
  min-height: 56px;
  background-color: variables.$add-color-light;
}

.page-header__toggle {
  position: absolute;
  z-index: 2;
  top: 17px;
  right: 20px;

  @include mixins.tablet {
    display: none;
  }
}

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
