@use "./../mixins";
@use "./../variables";


.page {
  height: 100%;
}

.page__body {
  height: 100%;
  margin: 0;
  background-color: variables.$inert-light;
}

.page__container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  background-color: variables.$add-color-light;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

  @include mixins.tablet {
    max-width: 768px;
  }

  @include mixins.desktop {
    max-width: 1200px;
  }
}
