.promo {
  padding: 17px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__heading-wrapper {
  padding: 0 20px;
}

.promo__title {
  margin: 0;
  margin-bottom: 27px;
}

.promo__subtitle {
  margin: 0;
  margin-bottom: 38px;
}
