@use "./../mixins";
@use "./../variables";

.promo {
  position: relative;
  padding: 17px 20px 0;

  @include mixins.tablet {
    padding: 46px 60px 40px;
  }

  @include mixins.desktop {
    padding: 50px 201px 84px 199px;
  }
}

.promo__heading-wrapper {
  padding: 0 20px 38px;

  @include mixins.tablet {
    padding: 0 101.5px 91px;
  }

  @include mixins.desktop {
    padding: 0 177.5px 88px;
  }
}

.promo__title {
  margin-bottom: 27px;

  @include mixins.tablet {
    margin-bottom: 22px;
    font-size: 30px;
  }
}

.promo__video-wrapper {
  position: relative;
}

.promo__video {
  display: block;
  width: 100%;

  @include mixins.tablet {
    min-height: 500px;
  }
}

.promo__button {
  position: absolute;
  top: 50%;
  left: 124px;
  transform: translate(0, -50%);
  padding: 0;
  width: 48px;
  height: 54px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @include mixins.tablet {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover .promo__button-image {
    fill-opacity: 0.9;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px variables.$basic-color;
  }

  &:active .promo__button-image {
    fill-opacity: 0.5;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

.promo__button-image {
  position: absolute;
  left: 0;
  top: 0;
  fill-opacity: 0.7;
}
