@use "./../variables";

.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  padding: 0;
  list-style-type: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: variables.$basic-color;

  &:hover,
  &:focus {
    outline: none;
    background-color: variables.$basic-medium;
  }

  &:active {
    background-color: variables.$basic-dark;
  }
}

.social__icon {
  fill: variables.$add-color-light;
}

.social__link:active .social__icon {
  fill: rgba(variables.$add-color-light, 0.3);
}
