@use "./../variables";

.text-xs {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: variables.$basic-text-medium;

  &--extra {
    font-weight: 700;
    color: variables.$basic-text;
  }
}
