@use "./../variables";

.textarea {
  padding: 12px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: variables.$basic-text;
  font-weight: 700;

  background-color: variables.$inert-light;
  border: 4px solid transparent;
  resize: none;

  &::placeholder {
    color: rgba(variables.$basic-text, 0.3);
  }

  &:hover {
    background-color: variables.$inert-color;
  }

  &:focus {
    outline: none;
    border-color: variables.$inert-color;
    background-color: variables.$add-color-light;
  }

  &:disabled {
    background-color: variables.$inert-color;
  }
}
