$tablet-width: 768px;
$desktop-width: 1200px;

@mixin tablet {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin before-after($position, $width, $height) {
  content: "";
  position: $position;
  display: block;
  width: $width;
  height: $height;
}
