// Basic colors
$basic-color: #81b3d2;
$basic-medium: #669ec0;
$basic-dark: #5496bd;

// Inert color
$inert-color: #e5e5e5;
$inert-light: #f2f2f2;
$inert-dark: #d5d5d5;

// Text colors
$basic-text: #000000;
$basic-text-medium: #333333;
$add-text-medium: #766357;
$add-text-light: #b3b3b3;

// Additional colors
$add-color: #eeeeee;
$add-color-light: #ffffff;
